.sale {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f7f8f8, #f6f7f8);
  overflow-y: scroll;
  padding: 20px;
}

.product {
  width: 280px;
  border-radius: 15px;
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  color: #333;
  background: linear-gradient(to right, #007bff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-token {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #020202;
  margin: 15px 0;
}

.product-token-subscript {
  font-size: 16px;
  color: #666;
  font-weight: normal;
}

.product-desc {
  margin: 0 20px 15px;
  font-size: 14px;
  text-align: center;
  color: #777;
}

.product-price-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-price {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #ff6b6b;
  margin-bottom: 15px;
}

.product-buy {
  margin: 0 20px 20px;
  width: calc(100% - 40px);
  font-size: 18px;
  background: linear-gradient(to right, #ff6b6b, #ff8e53);
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.product-buy:hover {
  background: linear-gradient(to right, #ff5252, #ff7043);
}

.product-pay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column; /* 添加这一行，使子元素垂直排列 */
}

.product-pay-url {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* 添加这一行，增加二维码和关闭按钮之间的间距 */
}

.product-pay-close {
  background-color: #ff6b6b;
  color: #ffffff;
  border-radius: 25px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.product-pay-close:hover {
  background-color: #ff5252;
}