.icon-button {
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 12px;
  height: 12px;
  background: linear-gradient(45deg, #82ef64, #4bc62a);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  outline: none;
  border: none;
  user-select: none;
  box-shadow: 0 0 5px rgba(130, 239, 100, 0.7);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(130, 239, 100, 0.9);
    background: linear-gradient(45deg, #4bc62a, #82ef64);
  }

  &:active {
    transform: scale(0.9);
    box-shadow: 0 0 3px rgba(130, 239, 100, 0.5);
  }
}

.icon-button-icon {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  .icon-button:hover & {
    transform: rotate(360deg);
  }
}